@using AFDSearch.Models
@model AirportSearch
@{
    ViewBag.Title = "Airport Search";
}
@{
    const int pageSize = 10;
    int currentPage = 0;
}
<style>
    p {
        font-size: 12px; 
    }
    ul, li{
        margin-top: -10px;
    }
</style>

<table>
    <tr>
        <td valign="top">
            @using (Html.BeginForm("Search", "Airport", FormMethod.Post))
            {
                <input type="submit" value="Clear" />
            }

            @foreach (FacetInfo facetInfo in Model.FacetResults)
            {
                <p>@facetInfo.FacetName</p>
                <ul>
                    @foreach (var facet in facetInfo.Facets)
                    {
                        var facetText = @facet.Key + "(" + facet.Value + ")";
                        var filter = string.IsNullOrEmpty(@Model.Filter) ? string.Empty : @Model.Filter + " and ";
                        <p style="margin: 0">@Html.ActionLink(facetText, "Search", new AirportSearch() {Top = pageSize, Skip = currentPage * pageSize, Filter = filter + @facetInfo.FacetName + " eq '" + @facet.Key + "'"})</p>
                    }
                </ul>
            }
        </td>

        <td valign="top">

            @using (Html.BeginForm("Search", "Airport", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.SearchText)

                <input type="submit" value="Search"/>
            }

            <table>
                <tr>
                    <th style="border: 1px solid black; padding: 5px;">Identifier</th>
                    <th style="border: 1px solid black; padding: 5px;">Name</th>
                    <th style="border: 1px solid black; padding: 5px;">City</th>
                    <th style="border: 1px solid black; padding: 5px;">State</th>
                    <th style="border: 1px solid black; padding: 5px;">Chart</th>
                    <th style="border: 1px solid black; padding: 5px;">Region</th>
                    <th style="border: 1px solid black; padding: 5px;">Airport Facilities Directory</th>
                </tr>
                @foreach (Airport airport in Model.AirportSearchResults)
                {
                    <tr>
                        <td style="border: 1px solid black; padding: 5px;">@airport.Identifier</td>
                        <td style="border: 1px solid black; padding: 5px;">@airport.Name</td>
                        <td style="border: 1px solid black; padding: 5px;">@airport.City</td>
                        <td style="border: 1px solid black; padding: 5px;">@airport.State</td>
                        <td style="border: 1px solid black; padding: 5px;">@airport.Chart</td>
                        <td style="border: 1px solid black; padding: 5px;">@airport.Region</td>
                        <td style="border: 1px solid black; padding: 5px;"><a href="@airport.AfdLink">@airport.AfdLink</a></td>
                    </tr>
                }
            </table>

            @{
                var pageInfo = string.Empty;
                if (Model.AirportSearchResults.Count > 0)
                {
                    var first = @Model.Skip + 1;
                    var last = @Model.Skip + pageSize;
                    pageInfo = first + " - " + last + " of " + @Model.Count;
                }

                int prevSkip = @Model.Skip - pageSize;
                int nextSkip = @Model.Skip + pageSize;
            }
            @{
                if (prevSkip < 0)
                {
                    prevSkip = 0;
                }
                if (nextSkip > (int)Model.Count)
                {
                    nextSkip = @Model.Skip;
                }
            }

            @if (Model.AirportSearchResults.Count > 0)
            {
                <p style="margin: 0">
                    @Html.ActionLink("Previous", "Search", new AirportSearch() {Top = pageSize, Skip = prevSkip, Filter = @Model.Filter})
                    @pageInfo
                    @Html.ActionLink("Next", "Search", new AirportSearch() {Top = pageSize, Skip = nextSkip, Filter = @Model.Filter})
                </p>
            }
        </td>
    </tr>
</table>

